{% if collection.image %}
  {%- assign collection_image = collection.image -%}
{% elsif collection.products.first and collection.products.first.images != empty %}
  {%- assign collection_image = collection.products.first.featured_image -%}
{% else %}
  {% assign collection_image = blank %}
{% endif %}

<div class="collection-grid-item">
  <a href="{% if collection.products == empty %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
    <div class="collection-grid-item__overlay{% unless collection_image == blank %} box ratio-container lazyload{% endunless %} js"
         {% unless collection_image == blank %}
         data-bgset="{% include 'bgset', image: collection_image %}"
         data-sizes="auto"
         data-parent-fit="cover"
         style="background-position: top; background-image: url('{{ collection_image | img_url: '300x300' }});"
         {% endunless %}></div>
     <noscript>
       <div class="collection-grid-item__overlay"{% unless collection_image == blank %} style="background-image: url('{{ collection_image | img_url: '340x340' }}')"{% endunless %}></div>
     </noscript>
    <div class="collection-grid-item__title-wrapper">
      <h3 class="collection-grid-item__title">
        {% if collection.title == blank %}
          {{ 'homepage.onboarding.collection_title' | t }}
        {% else %}
          {{ collection.title }}
        {% endif %}
      </h3>
    </div>
  </a>
</div>
